/* Copyright c 2019 Richard Robinson. All rights reserved. */

* {
	box-sizing: border-box;
}

body {
	font-family: NimbusSanL, Arial, sans-serif;
	text-align: center;
	background: #283048;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

.lines {
	position: absolute;
	z-index: 10;
	margin-top: -0.4vh;
	margin-left: 8.6vh;
	width: 11vh;
}

.modeText {
	word-spacing: 0.5vh;
	//font-family: monospace;
	font-weight: bolder;
	font-size: 1vh;
	margin-bottom: -1.1vh;
	margin-left: -2.2vh;
}

.logo:before {
	display: inline-block;
	content: "";
	height: 0.2vh;
	background-color: #606060;
	position: absolute;
	width: 12vh;
	top: 32.5vh;
	margin-left: -18vh;
}

.logo1 {
	margin-right: 0;
	font-family: casio, sans-serif;
	text-align: right;
	font-size: 2vh;
}

.logo2 {
	margin-right: 0;
	margin-left: auto;
	font-family: serif;

	font-style: italic;
	font-size: 3.7vh;
	text-align: right;
}

.subtext {
	color: #0097be;
	font-family: casio, sans-serif;
	text-align: right;
	font-size: 1.1vh;
}

div {
	/*border:1px solid SlateGrey;*/
	border-radius: 5px;
	margin: 1.6vh;
}

div.calcDisplay {
	font-family: dseg, monospace;
	border: 2px solid #b4b39d;
	border-radius: 6px;
	/*background-color: #c3c2ab;*/
	font-size: 3.5vh;
	padding: 0.5em 0.75em;
	text-align: right;
	height: 8vh;
	margin-bottom: -7vh;
}

.switch {
	position: relative;
	display: inline-block;
	width: 4.45vh;
	height: 4.5vh;
	margin-top: 0.8vh;
	margin-right: 1.5vh;
	border-radius: 20px;

}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #100f0f;

	box-shadow: inset 0 0 5px #464646;

	-webkit-transition: .3s;
	transition: .3s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 3.5vh;
	width: 1.9vh;
	left: 0.3vh;
	bottom: 0.5vh;
	background-color: #403e3e;
	-webkit-transition: .3s;
	transition: .3s;

	box-shadow: 1px 1px 4px 1px #212121;
}

/*input:checked + .slider {*/
/*	background-color: #2196f3;*/
/*}*/

/*input:focus + .slider {*/
/*	box-shadow: 0 0 1px #2196f3;*/
/*}*/

input:checked + .slider:before {
	-webkit-transform: translateX(1.8vh);
	-ms-transform: translateX(1.8vh);
	transform: translateX(1.8vh);
}

.slider.round {
	border-radius: 3px;
}

.slider.round:before {
	border-radius: 3px;
	//border-radius: 50%;
}

header {
	background-color: transparent;
	font-family: casio, sans-serif;
	color: white;
}

div.calcKeypad {
	height: 30vh;
	margin: 2vh;
	/*padding-left: 0px;*/
}


.calculator {
	background-color: LightGrey;

	height: 75vh;
	width: 40vh;
	/*//margin: -100px auto;*/
	/*background-color: #dfd8d0;*/
	border: 2px solid #908b85;
	border-radius: 10px;
	box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;

}

.input {
	border: none;
	text-align: right;
}

.calcKeypad {
	padding-left: 0.5vh;
	padding-right: 0.5vh;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	justify-items: center;
}

.extrasText {
	font-size: 1.1vh;
	margin-bottom: 0.5vh;
	margin-top: 0.4vh;
}

.calcExtras {
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	padding-left: 1vh;
	padding-right: 1vh;
	margin: 1.5vh;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(6, 16.66%);
	justify-items: center;
	background-color: #222121;
}

.extraArea {
	justify-items: center;
	align-items: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: -1.5vh;
}

p {
	text-align: center;
	padding: 0px;
	font-size: 1.0vh;
	color: white;
	margin-bottom: 0.9vh;
	font-weight: bold;
}

.overlay {
	position: relative;
	bottom: 9.5vh;
	left: 0px;
	background-color: transparent;
}

.tr.extraArea {
	border-right: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-radius: 0;
}

.top.extraArea {
	border-top: 1px solid #d9d9d9;
	border-radius: 0;
	margin-bottom: -0.3vh;
}

.r.extraArea {
	border-right: 1px solid #d9d9d9;
	border-radius: 0;
	margin-bottom: -0.3vh;
}

.button {
	height: 1.8vh;
	width: 3.6vh;
	margin-left: 1.2vh;
	margin-right: 1.2vh;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0.5px 1.5px 0 0 #7c7878, inset -1px -3px 10px 1px #cec8c8;
	//box-shadow: 0 3px 0 0 #cec8c8, inset -1px -3px 10px 1px #bebebe;
}

input, button {
	font: inherit;
	color: white;
	width: 100%;
	height: 100%;
	padding-left: 0.4vh;
}

button {
	font-family: calc, monospace;
	font-size: 1.3vh;
	border-radius: 5px 5px 5px 5px;
	border: none;
	background-color: #272226;
	margin: 0 0px 0px 0px;
	height: 4.0vh;
	width: 4.5vh;
	box-shadow: 1px 4px 0 0 #222121, inset -1px -3px 10px 1px #515151;
}

button:active {
	transform: translate(0px, 0.2vh);
	box-shadow: none;
}

strong {
	font-family: NimbusSanL, Arial, sans-serif;
	font-size: 1.2em;
	color: Green;
	font-weight: bold;
}

footer {
	padding-top: 1vh;
	text-align: center;
	font-size: 1vh;
	color: LightSlateGrey;
}

/* Responsive layout - makes the columns stack on
   top of each other instead of next to each other */

/*[class*="calculator"] {*/
/*	width: 80%;*/
/*	display: inline-block;*/
/*	//height: 80vh;*/
/*	//font-size: 1.2em;*/
/*}*/

/*@media screen and (min-width: 600px) {*/
/*	[class*="calculator"] {*/
/*		width: 50%;*/
/*	}*/

/*}*/