* {
	box-sizing: border-box;
}

body {
	font-family: NimbusSanL, Arial, sans-serif;
	text-align: center;
	background-color: #000;
	background-image: repeating-linear-gradient(
			132deg,
			black 100px,
			transparent 10px,
			black 50px,
			transparent 0px
	),
	linear-gradient(50deg, #7e2e52 30%, #513a8d 60%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 98vh;
}

.logo:before {
	display: inline-block;
	content: "";
	height: 3px;
	background-color: #606060;
	position: absolute;
	width: 160px;
	top: 18%;
	margin-top: -18px;
	margin-left: -220px;
}

.logo1 {
	margin-right: 0;
	font-family: casio, sans-serif;
	text-align: right;
	font-size: 25px;
}

.logo2 {
	margin-right: 0;
	margin-left: auto;
	font-family: serif;

	font-style: italic;

	font-size: 45px;

	text-align: right;
}

.subtext {
	color: #0097be;
	font-family: casio, sans-serif;
	text-align: right;
	font-size: 14px;
}

div {
	/*border:1px solid SlateGrey;*/
	border-radius: 5px;
	margin: 20px;
}

div.calcDisplay {
	font-family: dseg, monospace;
	border: 2px solid #b4b39d;
	border-radius: 6px;
	/*background-color: #c3c2ab;*/
	font-size: 2.5em;
	padding: 0.5em 0.75em;
	text-align: right;
	height: 100px;
	margin-bottom: -90px;
}

header {
	background-color: transparent;
	font-family: casio, sans-serif;
	color: white;
}

div.calcKeypad {
	height: 40%;
	margin: 20px;
	/*padding-left: 0px;*/
}


.calculator {
	background-color: LightGrey;


	height: 950px;
	width: 500px;
	margin: -100px auto;
	/*background-color: #dfd8d0;*/
	border: 2px solid #908b85;
	border-radius: 10px;
	box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;

	inset: 100px;
}

.input {
	border: none;
	text-align: right;
}

.calcKeypad {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	justify-items: center;
}

.calcExtras {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(6, 16.66%);
	justify-items: center;
	background-color: #222121;
}

.extraArea {
	justify-items: center;
	align-items: center;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

p {
	text-align: center;
	padding: 0px;
	font-size: 12px;
	color: white;
	margin-bottom: 5px;
	font-weight: bold;
}

.overlay {
	position: relative;
	bottom: 120px;
	left: 0px;
	background-color: transparent;
}

.tr.extraArea {
	border-right: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-radius: 0;
}

.top.extraArea {
	border-top: 1px solid #d9d9d9;
	border-radius: 0;
	margin-bottom: 0;
}

.right.extraArea {
	border-right: 1px solid #d9d9d9;
	border-radius: 0;
	margin-bottom: 0;
}

.button {
	height: 22px;
	width: 45px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 3px 0 0 #cec8c8, inset -1px -3px 10px 1px #bebebe;
}

input, button {
	font: inherit;
	color: white;
	width: 100%;
	height: 100%;
	padding-left: 5px;
}

button {
	font-family: calc, monospace;
	font-size: 19px;
	border-radius: 8px 5px 5px 8px;
	border: none;
	background-color: #272226;
	margin: 0 0px 0px 0px;
	height: 50px;
	width: 60px;
	box-shadow: 1px 4px 0 0 #222121, inset -1px -3px 10px 1px #515151;
}

button:active {
	transform: translate(0px, 3px);
	box-shadow: none;
}

strong {
	font-family: NimbusSanL, Arial, sans-serif;
	font-size: 1.2em;
	color: Green;
	font-weight: bold;
}

footer {
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	color: LightSlateGrey;
}

/* Responsive layout - makes the columns stack on
   top of each other instead of next to each other */

/*[class*="calculator"] {*/
/*	width: 80%;*/
/*	display: inline-block;*/
/*	height: 80vh;*/
/*	//font-size: 1.2em;*/
/*}*/

/*@media screen and (min-width: 600px) {*/
/*	[class*="calculator"] {*/
/*		width: 50%;*/
/*	}*/

/*}*/